.productfilter 
	margin-bottom: 2.4rem
	&__subcategory 
		display: flex 
		justify-content: space-between
		align-items: center
		gap: 2rem
		&_left 
			max-width: 82rem 
			width: 100%
			display: flex
			flex-wrap: wrap
			gap: 8px